
:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  
  }

p {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

  
  * {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  html {
    font-family:'Poppins', sans-serif;
    background-color: #fff;
    font-size: 16px;
    color: #222;
    scroll-behavior: smooth;
    line-height: 1.4;
    align-content: center;
  }
  
  body {
    margin: 0;
  }
  
  header {
  padding: 0 10px;
  background-color: #fff;
}

header div img {
  width: 100px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#valentine-text {
  background-color: #fff;
  padding: 1em;
}

  
  .header-container {
    display: flex; 
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
    max-width: 1200px; 
  background-color: #fff; 
  }
  
  
 nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-left: 1em;
  text-transform: uppercase;
}

nav ul li a:link,
nav ul li a:visited {
    color: black;
    text-decoration: none;
}
  
  img {
    display: block;
    max-width: 100%;
  }

 .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
  

#shot-1 {
  grid-column: span 3;
}

#product-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#product-imgs img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.products-container {
  max-width: 1200px;
  margin: 0 auto;
}


#red-vel-desc {
  margin: 0;
}

.wrapper valentines {
  background-color: white;
}

.valentines h1 {
  margin-bottom: 0;
}

#limited-edition {
   margin: 0;
  font-weight:bold;
  text-transform: uppercase;
}

#the-scoop {
  background-color: #fff;
  padding: 1em;
}

.scoop-container {

  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  min-width: 360px;
  }

#scoop-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

h2 {
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 360px;
}

#dough-boys {
  background-color: black;
  padding: 1em;
  color: white;
}

.wrapper dough-text{
  background-color: black;
}

.dough-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;

}

.reviews-container { 
  background-color: black;
  padding: 1em;
  color: white;
}

#products {
  background-color: #fff;
  padding: 1em;
}

.dough-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  
}

.dough-grid article {
  background-color: rgb(245, 244, 244);
  text-align: center;
  border-radius: 10px;
}

article img {
  border-radius: 10px 10px 0 0;
}

#main-text {

  margin: 0;
}

  .btn {
   padding: .8em 1em;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: var(--font-size-sm);
  }

  
  .btn:hover {
    background-color: red;
    border-radius: 0;
  }

  footer{
  background-color: #fff;
  padding: 1em;
  text-align: center;
}

#red-velvet-desc {
  margin: 0;
}


@media (min-width: 768px){

  #product-image {
    grid-template-columns: 1fr 1fr;
  }

  #product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .shot-1 {
    grid-column: span 1;
  }

  .product-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  } */

  .quote-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .dough-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

/* 960  */
@media (min-width: 960px) {
 .flex-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  h1 {
    margin-top: 0;
  }
}

