
:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  
  }

p {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}


/* not complete yet, not sure which sizes i should be making fonts or if its 
just by eye, or if i copy base font var(s) above */

/* 400 px */
@media (min-width: 25em) {
  p {
    font-size: var();
  }
  
  h1 {
    font-size: var();
  }
  
}


/* 768   */
@media (min-width: 48em) {
  p {
    font-size: var();
  }
  
  h1 {
    font-size: var();
  }
  
  h2 {
    font-size: var();
  }
  
  h3 {
    font-size: var();
  }
}

/* 960  */
@media (min-width: 60em) {
  p {
    font-size: var()
  }
  
  h1 {
    font-size: var()
  }
  
  h2 {
    font-size: var();
  }
  
  h3 {
    font-size: var() 
  }
}

/* widescreen 1024 */
@media (min-width: 64em) {
  p {
    font-size: var();
  }
  
  h1 {
    font-size: var();
  }
  
}


  
  * {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  html {
    font-family:'Poppins', sans-serif;
    background-color: #fff;
    font-size: 16px;
    color: #222;
    scroll-behavior: smooth;
    line-height: 1.4;
    align-content: center;
  }
  
  body {
    margin: 40px;
    max-width: 1024px;
  }

  #main {
    align-content: center;
    align-items: center;
  }
  
  
  .header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
    max-width: 1200px;
  }

  
  
  nav li {
    display: inline-block;
    justify-content: space-between;
    margin-right: 20px;
  }
  
  
  img {
    display: block;
    max-width: 100%;
  }
  
.intro-grid {
  padding-top: 5px;
  display: grid;
  grid-template-areas: 
    "item1 item1 item1"
    "item2 item3 item4";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  
}

#shot-1 {
  grid-area: item1;
}

#shot-2 {
  grid-area: item2;
}

#shot-3 {
  grid-area: item3;
}

#shot-4 {
  grid-area: item4;
}




.valentines {
  padding-bottom: 60px;
}

.valentines #h1 {
  display: flex;
  flex-direction: column;
}

#limited-edition {
  margin-top: -30px;
  font-weight: bold;
}



.scoop-container {
    width: 100%;
    max-width: 1200px;
    min-width: 360px;
    background-color: aquamarine;
  }

  #the-scoop div {
    display: flex;
    gap: 1em;
    padding-left: 2em;
    padding-bottom: 4em;
    padding-right: 
  }
  
  
  .btn {
    background-color:black;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:10px;
    color: #fff;
    text-decoration: none;
  }

  
  .btn:hover {
    background-color: red;
    border-radius: 0;
  }
